*{  font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}
body{
    /* background-image: url(hotel.jpg); */
    background-color: rgb(0,106,188);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
    
.heading{
    margin: 30px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    display: inline-block;
    margin-right: 0px;
}
.para{
    margin: 60px;
    margin-left: 10px;
    display: inline-block;
    font-size: 1rem;
    color: #f8e5ee;
    font-weight: bolder;
}
.navpannel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 40%;
    margin-right: 300px;
}
.box2{
    background-color: #f8e5ee;
    border-radius: 5px;    
    height: 500px;
    width: 30%;
}
.box2 h2{
    margin-left: 30px;
    margin-top: 60px;
    font-weight: bolder;
    font-size: 2rem;
    }
.box2 p{
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 10px;
}    
.loginnav{
    margin-top: 137px;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 62.2vh;
    height: 30px;
    color: #f8e5ee;
    font-size: 1rem;
    background-color:  rgb(5, 60, 103);
}
.border:hover{
    border: 2px solid black;
}
.all{
    margin-left: 30px;
    height: 60px;
}
.Mobile{
 height: 60px;
 width: 40vh; 
}
.button{
    margin-top: 10px;
    margin-left: 30px;
    height: 60px;
    background-color: gainsboro;
    width: 120px;
    font-weight: bolder;
}
.pa{
    margin-top:0px ;
    margin-left: 30px;
}